.fly-alimentation-data {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  position: relative;
  width: 32vw !important; }
  .fly-alimentation-data div.fly-data-C {
    height: 24vw;
    width: 100%; }
    .fly-alimentation-data div.fly-data-C canvas {
      position: absolute;
      left: 3%; }
  .fly-alimentation-data div.fly-all {
    position: absolute;
    left: 1vw;
    border: 2px solid #fff;
    border-radius: 30px;
    height: 2vw;
    line-height: 2vw;
    width: 5vw;
    text-align: center;
    color: #fff;
    bottom: -1.58vw; }
  .fly-alimentation-data div.fly-m-name {
    bottom: -2.6vw;
    height: 4vw;
    width: 75%;
    position: absolute;
    right: 2vw;
    overflow: hidden;
    z-index: 100; }
    .fly-alimentation-data div.fly-m-name ul {
      margin-top: .9vw; }
    .fly-alimentation-data div.fly-m-name li {
      width: 5vw;
      float: left;
      color: #fff;
      height: 2vw;
      line-height: 2vw;
      text-align: center;
      border: 2px solid #fff;
      border-radius: 30px;
      margin: 0 20px;
      position: relative; }
      .fly-alimentation-data div.fly-m-name li:after {
        content: "...";
        position: absolute;
        left: 104%;
        top: -15%; }
      .fly-alimentation-data div.fly-m-name li:last-of-type:after {
        content: ""; }
    .fly-alimentation-data div.fly-m-name .active {
      border-color: transparent;
      color: #a67156; }
      .fly-alimentation-data div.fly-m-name .active:before {
        content: '';
        border: 2px solid #a67156;
        color: #a67156;
        -webkit-animation: blur 1s linear infinite alternate;
        position: absolute;
        width: 100%;
        box-shadow: 0 0 2vw rgba(232, 158, 121, 0.5);
        border-radius: 30px;
        height: 100%;
        left: 0;
        top: 0; }
    .fly-alimentation-data div.fly-m-name .shadow {
      position: relative; }
      .fly-alimentation-data div.fly-m-name .shadow:before {
        content: '';
        position: absolute;
        width: 100%;
        box-shadow: 0 0 1vw rgba(232, 158, 121, 0.7);
        border-radius: 30px;
        height: 100%;
        left: 0;
        top: 0; }
  .fly-alimentation-data .fly-circle {
    width: 0.1vw;
    height: 300px;
    position: absolute;
    left: 3%;
    opacity: 0; }
    .fly-alimentation-data .fly-circle:before {
      content: '';
      width: 1vw;
      height: 1vw;
      background: #fff;
      -webkit-filter: blur(7px);
      position: absolute;
      bottom: -.5vw;
      left: -.5vw;
      border-radius: 50%; }
  .fly-alimentation-data .fly-circle-center {
    position: absolute;
    left: 3%;
    top: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-filter: blur(0px);
    z-index: -1; }
    .fly-alimentation-data .fly-circle-center:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }

@-webkit-keyframes blur {
  to {
    border-color: #e89e79;
    color: #e89e79; } }

/*# sourceMappingURL=alimentationdata.css.map */