@charset "UTF-8";
.fly-play-ico {
  width: 2vw;
  position: absolute;
  right: 0;
  bottom: 1.5vw; }

@-webkit-keyframes move {
  50% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.startMove {
  -webkit-animation: move 0.3s ease;
  animation: move 0.3s ease; }

.fly-cook-book-item-C span.tag {
  position: absolute;
  background: #fff;
  z-index: 0;
  width: 1vw;
  right: -2vw;
  padding: 20px 20px 20px 40px;
  font-size: 0.8vw;
  top: 1vw;
  border-radius: 14px; }

.book-list-C {
  width: 88%;
  z-index: 1;
  height: 19vw;
  margin: 5% auto;
  left: -0.2vw;
  background: #FFF;
  border-radius: 30px;
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal; }
  .book-list-C:before {
    content: '';
    box-shadow: 0 0 3vw rgba(232, 158, 121, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    width: 100%;
    height: 100%; }
  .book-list-C.active {
    z-index: 2;
    left: -2vw; }
  .book-list-C .booklist-left-C {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    position: relative; }
    .book-list-C .booklist-left-C:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 0;
      width: 1px;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, 0.3)), color-stop(0.5, #cccccc), to(rgba(204, 204, 204, 0.3))); }
    .book-list-C .booklist-left-C div {
      width: 3vw;
      height: 3vw;
      line-height: 3vw;
      text-align: center;
      border-radius: 50%; }
      .book-list-C .booklist-left-C div.active {
        border: 3px solid #e89e79;
        box-sizing: border-box; }
  .book-list-C .booklist-right-C {
    width: 75%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    position: relative; }
    .book-list-C .booklist-right-C .bl-calendar {
      width: 100%;
      margin-left: -8%;
      -webkit-box-flex: 1;
      box-sizing: border-box;
      height: 50%; }
      .book-list-C .booklist-right-C .bl-calendar table {
        padding-top: 1vw;
        width: 96%;
        padding-left: 20px;
        box-sizing: border-box;
        text-align: center; }
        .book-list-C .booklist-right-C .bl-calendar table th {
          font-weight: normal;
          font-size: 0.8vw;
          border-bottom: 1px solid #dcdcdc;
          padding-bottom: 20px; }
        .book-list-C .booklist-right-C .bl-calendar table tbody tr {
          height: 2.8vw; }
          .book-list-C .booklist-right-C .bl-calendar table tbody tr:nth-of-type(1) td {
            padding: 0.5vw 0;
            border-bottom: 1px solid #dcdcdc;
            box-sizing: border-box; }
        .book-list-C .booklist-right-C .bl-calendar table td {
          position: relative; }
          .book-list-C .booklist-right-C .bl-calendar table td span {
            display: block;
            font-size: 0.8vw; }
            .book-list-C .booklist-right-C .bl-calendar table td span:nth-of-type(2) {
              font-size: 0.7vw; }
          .book-list-C .booklist-right-C .bl-calendar table td div {
            position: relative; }
            .book-list-C .booklist-right-C .bl-calendar table td div:before {
              content: '';
              width: 0.5vw;
              height: 0.5vw;
              border-radius: 50%;
              position: absolute;
              right: 0.1vw;
              top: 0.1vw; }
          .book-list-C .booklist-right-C .bl-calendar table td .hasfood {
            border-radius: 50%; }
            .book-list-C .booklist-right-C .bl-calendar table td .hasfood:before {
              background: #e89e79; }
          .book-list-C .booklist-right-C .bl-calendar table td div {
            background: transparent;
            width: 2.5vw;
            height: 2.5vw;
            border-radius: 50%;
            position: absolute;
            left: 0.23vw;
            top: 0.5vw; }
        .book-list-C .booklist-right-C .bl-calendar table .today {
          color: #e89e79; }
          .book-list-C .booklist-right-C .bl-calendar table .today div {
            background: #efefef; }
          .book-list-C .booklist-right-C .bl-calendar table .today span {
            color: inherit; }
    .book-list-C .booklist-right-C .bl-food-list {
      width: 100%;
      height: 50%;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll {
        width: 90%;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        margin-top: -1.4vw; }
        .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll.no-data:before {
          content: '暂无数据';
          color: #f00;
          margin-left: 40%;
          margin-top: 15%;
          display: block; }
        .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0; }
        .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul {
          margin-top: -0.1vw; }
          .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li {
            width: 7.31vw;
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            float: left;
            height: 9vw;
            position: relative;
            box-sizing: border-box; }
            .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li div {
              position: absolute;
              border-radius: 20px;
              width: 90%;
              height: 90%;
              left: 10%;
              top: 10%;
              box-sizing: border-box; }
              .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li div:before {
                content: '';
                box-shadow: 0 0 1vw rgba(232, 158, 121, 0.4);
                position: absolute;
                border-radius: 20px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%; }
              .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li div.active {
                box-sizing: border-box;
                border: 8px solid #e89e79;
                z-index: 1;
                overflow: hidden;
                position: relative; }
                .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li div.active span {
                  -webkit-transform: translate3d(0, -6px, 0);
                  transform: translate3d(0, -6px, 0);
                  border-bottom-left-radius: 0;
                  border-bottom-right-radius: 0; }
            .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li span {
              font-size: 0.6vw;
              display: block;
              width: 100%;
              position: relative;
              color: #cfbbba;
              top: 6.65vw;
              text-align: center;
              height: 1.5vw;
              line-height: 1.5vw;
              background: white;
              border-bottom-left-radius: 20px;
              border-bottom-right-radius: 20px; }
      .book-list-C .booklist-right-C .bl-food-list .bl-food-next {
        width: 10%;
        height: 40%;
        text-align: center;
        line-height: 5vh;
        -webkit-transform: scaleY(2.5);
        transform: scaleY(2.5); }

/*# sourceMappingURL=booklist.css.map */