@charset "UTF-8";
/*步骤开始。开始制作*/
.book-item-C {
  overflow: hidden;
  width: 84%;
  margin: 0 auto;
  height: 80%;
  position: relative;
  top: 3vh;
  overflow: hidden;
  background: #fff;
  border-radius: 30px; }
  .book-item-C ul.book-item-ul {
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical; }
    .book-item-C ul.book-item-ul li.book-item-ul-li {
      height: 50%;
      width: 100%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      perspective: 800px;
      -webkit-perspective: 800px;
      position: relative;
      overflow: hidden; }
    .book-item-C ul.book-item-ul li.active .detail {
      -webkit-transform: rotateX(-90deg);
      transform: rotateX(-90deg); }
    .book-item-C ul.book-item-ul li.active .material {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      opacity: 1; }
    .book-item-C ul.book-item-ul .material {
      position: absolute;
      left: 1%;
      border-radius: 30px;
      top: 0;
      background: #fff;
      height: 100%;
      -webkit-transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01);
      transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01);
      -webkit-transition: opaicty .5s .1s,-webkit-transform .5s;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      width: 98%; }
      .book-item-C ul.book-item-ul .material h1 {
        font-weight: normal;
        color: #a16d56;
        margin-left: 1vw; }
      .book-item-C ul.book-item-ul .material .material-scroll {
        width: 100%;
        height: 5vw;
        overflow: hidden; }
        .book-item-C ul.book-item-ul .material .material-scroll ul {
          width: 100%;
          float: left; }
          .book-item-C ul.book-item-ul .material .material-scroll ul li {
            float: left;
            width: 50%;
            box-sizing: border-box;
            border-right: 2px solid #eaeaea;
            border-bottom: 2px solid #eaeaea;
            height: 2vw;
            line-height: 2vw; }
            .book-item-C ul.book-item-ul .material .material-scroll ul li:nth-of-type(2n) {
              border-right: none; }
            .book-item-C ul.book-item-ul .material .material-scroll ul li span {
              float: left;
              margin-left: 1vw; }
              .book-item-C ul.book-item-ul .material .material-scroll ul li span:nth-of-type(2) {
                float: right;
                margin-right: 1vw;
                font-size: 0.8vw; }
      .book-item-C ul.book-item-ul .material .begin-do {
        width: 100%;
        clear: left;
        text-align: center;
        position: absolute;
        bottom: 0.2vw; }
        .book-item-C ul.book-item-ul .material .begin-do span {
          color: #d1bdbd;
          font-size: 0.8vw;
          border: 3px solid #d1bdbd;
          border-radius: 25px;
          padding: 5px 20px;
          display: inline-block; }
  .book-item-C .book-item-detail-src {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 30px; }
    .book-item-C .book-item-detail-src .fly-exit {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #fff;
      display: inline-block;
      padding: 10px;
      width: 1vw;
      height: 1vw;
      line-height: 1vw;
      padding: 20px;
      background: #efdcce;
      opacity: .8;
      border-radius: 50%; }
      .book-item-C .book-item-detail-src .fly-exit:before, .book-item-C .book-item-detail-src .fly-exit:after {
        content: '';
        width: 70%;
        left: 15%;
        height: 3px;
        background: #fff;
        position: absolute;
        top: 50%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .book-item-C .book-item-detail-src .fly-exit:after {
        width: 3px;
        height: 70%;
        left: 50%;
        top: 15%; }
    .book-item-C .book-item-detail-src .book-item-content {
      width: 100%;
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      height: 2vw;
      line-height: 2vw; }
      .book-item-C .book-item-detail-src .book-item-content .book-item-name {
        font-size: 1.5vw;
        margin-left: 1vw; }
      .book-item-C .book-item-detail-src .book-item-content .book-item-pageview {
        position: absolute;
        left: 50%;
        font-size: 1vw; }
        .book-item-C .book-item-detail-src .book-item-content .book-item-pageview em {
          font-style: normal;
          font-size: 0.9vw;
          margin-top: -1vw;
          display: inline-block;
          position: relative;
          top: -4px; }
      .book-item-C .book-item-detail-src .book-item-content .book-item-discuss {
        position: absolute;
        right: 5%; }
        .book-item-C .book-item-detail-src .book-item-content .book-item-discuss span:nth-of-type(1) {
          display: inline-block;
          text-align: center;
          border: 1px solid #fff;
          padding: 0 6px;
          height: 1vw;
          line-height: 1vw;
          margin-right: 0.3vw;
          border-radius: 8px; }
          .book-item-C .book-item-detail-src .book-item-content .book-item-discuss span:nth-of-type(1) b {
            display: inline-block;
            width: 0.1vw;
            height: 0.1vw;
            margin: 0 4px;
            border: 2px solid #fff;
            border-radius: 50%;
            position: relative;
            top: -0.2vw; }

.fly-cook-steps-C {
  width: 25vw;
  margin: 1.8vw auto;
  height: 19vw;
  position: relative; }
  .fly-cook-steps-C .fly-prev, .fly-cook-steps-C .fly-next {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #fff;
    line-height: 3vw;
    text-align: center;
    position: absolute;
    left: -1.5vw;
    margin-top: -1.5vw;
    top: 50%;
    z-index: 100; }
  .fly-cook-steps-C .shadow {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
    .fly-cook-steps-C .shadow:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 3vw;
      height: 3vw;
      box-shadow: 0 0 3vw rgba(232, 158, 121, 0.6);
      border-radius: 50%; }
  .fly-cook-steps-C .fly-next {
    right: -1.2vw;
    left: auto;
    font-size: 0.8vw; }
  .fly-cook-steps-C .fly-prev:before {
    content: '<';
    position: absolute;
    left: 38%;
    top: -5%;
    color: #d1bdbd;
    -webkit-transform: scaleY(2.2);
    transform: scaleY(2.2); }
  .fly-cook-steps-C .fly-cook-steps-scroll {
    width: 25vw;
    height: 19vw;
    overflow: hidden; }
  .fly-cook-steps-C .fly-history {
    z-index: 10;
    position: absolute;
    left: 1vw;
    top: 1vw;
    width: 3vw;
    height: 2vw; }
    .fly-cook-steps-C .fly-history .fly-back {
      display: block;
      width: 3vw; }
      .fly-cook-steps-C .fly-history .fly-back span {
        display: block;
        margin-left: 1vw;
        text-align: left;
        width: 2vw;
        height: 4px;
        margin-top: 20px;
        background: #d1bdbd;
        border-radius: 4px;
        position: relative; }
  .fly-cook-steps-C .fly-close {
    width: 2vw;
    height: 2vw;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    right: -0.66667vw;
    top: -0.66667vw; }
    .fly-cook-steps-C .fly-close:before, .fly-cook-steps-C .fly-close:after {
      content: '';
      position: absolute;
      left: 20%;
      width: 60%;
      height: 4px;
      background: #E09A76;
      top: 50%;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .fly-cook-steps-C .fly-close:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .fly-cook-steps-C .fly-close .shadow {
      position: relative; }
      .fly-cook-steps-C .fly-close .shadow:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 3vw rgba(232, 158, 121, 0.6); }
  .fly-cook-steps-C ul {
    height: 100%;
    -webkit-transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01);
    transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01); }
    .fly-cook-steps-C ul.active {
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .fly-cook-steps-C ul li {
      height: 100%;
      float: left;
      width: 25vw; }
      .fly-cook-steps-C ul li article {
        width: 25vw;
        height: 17vw;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px; }
      .fly-cook-steps-C ul li footer {
        background: #fff;
        text-align: center;
        height: 2vw;
        line-height: 2vw;
        font-size: 0.8vw;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px; }

/*# sourceMappingURL=bookitem.css.map */