@charset "UTF-8";
.fly-play-ico {
  width: .2rem;
  position: absolute;
  right: 0;
  bottom: .2rem; }

@-webkit-keyframes move {
  50% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.startMove {
  -webkit-animation: move 0.3s ease;
  animation: move 0.3s ease; }

.book-list-C {
  width: 88%;
  z-index: 1;
  height: 1.9rem;
  margin: 5% auto;
  left: -.02rem;
  background: #FFF;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal; }
  .book-list-C.active {
    z-index: 2;
    left: -.2rem; }
  .book-list-C:before {
    content: '已加入菜谱';
    background: inherit;
    position: absolute;
    z-index: -1;
    width: 0.1rem;
    right: -0.2rem;
    padding: 20px 20px 20px 40px;
    font-size: .08rem;
    top: .1rem;
    border-radius: 14px; }
  .book-list-C .booklist-left-C {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    position: relative; }
    .book-list-C .booklist-left-C:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 0;
      width: 1px;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, 0.3)), color-stop(0.5, #cccccc), to(rgba(204, 204, 204, 0.3))); }
    .book-list-C .booklist-left-C div {
      width: 0.3rem;
      height: 0.3rem;
      line-height: 0.3rem;
      text-align: center;
      border-radius: 50%; }
      .book-list-C .booklist-left-C div.active {
        border: 3px solid #e89e79;
        box-sizing: border-box; }
  .book-list-C .booklist-right-C {
    width: 75%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical; }
    .book-list-C .booklist-right-C .bl-calendar {
      width: 100%;
      -webkit-box-flex: 1;
      box-sizing: border-box;
      height: 50%; }
      .book-list-C .booklist-right-C .bl-calendar table {
        padding-top: .1rem;
        width: 90%;
        padding-left: 20px;
        box-sizing: border-box;
        text-align: center; }
        .book-list-C .booklist-right-C .bl-calendar table th {
          font-weight: normal;
          font-size: .08rem;
          border-bottom: 1px solid #dcdcdc;
          padding-bottom: 20px; }
        .book-list-C .booklist-right-C .bl-calendar table tbody tr {
          height: .28rem; }
          .book-list-C .booklist-right-C .bl-calendar table tbody tr:nth-of-type(1) td {
            padding: .05rem 0;
            border-bottom: 1px solid #dcdcdc;
            box-sizing: border-box; }
        .book-list-C .booklist-right-C .bl-calendar table td {
          position: relative; }
          .book-list-C .booklist-right-C .bl-calendar table td span {
            display: block;
            font-size: .08rem; }
            .book-list-C .booklist-right-C .bl-calendar table td span:nth-of-type(2) {
              font-size: .07rem; }
          .book-list-C .booklist-right-C .bl-calendar table td .hasfood {
            border-radius: 50%;
            position: relative; }
            .book-list-C .booklist-right-C .bl-calendar table td .hasfood:before {
              content: '';
              width: 0.05rem;
              height: 0.05rem;
              background: #e89e79;
              border-radius: 50%;
              position: absolute;
              right: .01rem;
              top: .01rem; }
        .book-list-C .booklist-right-C .bl-calendar table .today {
          color: #e89e79; }
          .book-list-C .booklist-right-C .bl-calendar table .today div {
            background: #efefef;
            width: .25rem;
            height: .25rem;
            border-radius: 50%;
            position: absolute;
            left: .023rem;
            top: .05rem; }
          .book-list-C .booklist-right-C .bl-calendar table .today span {
            color: inherit; }
    .book-list-C .booklist-right-C .bl-food-list {
      width: 100%;
      height: 50%;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll {
        width: 90%;
        height: 100%;
        overflow: hidden;
        background: rgba(232, 158, 121, 0.1);
        box-shadow: 0 0 1.1rem rgba(232, 158, 121, 0.6), 0 0 2rem rgba(232, 158, 121, 0.5) inset;
        border-radius: 20px;
        margin-top: -.14rem; }
        .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll.no-data:before {
          content: '暂无数据';
          color: #f00;
          margin-left: 40%;
          margin-top: 15%;
          display: block; }
        .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul {
          margin-top: -.07rem; }
          .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li {
            width: .731rem;
            float: left;
            height: 1rem;
            position: relative;
            box-sizing: border-box;
            background: rgba(232, 158, 121, 0.1); }
            .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li div {
              box-shadow: 0 0 0.1rem rgba(232, 158, 121, 0.6);
              position: absolute;
              border-radius: 20px;
              width: 90%;
              overflow: hidden;
              height: 90%;
              left: 10%;
              top: 10%;
              -webkit-transition: border 0.2s;
              transition: border 0.2s;
              box-sizing: border-box; }
              .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li div.active {
                border: 8px solid #e89e79; }
            .book-list-C .booklist-right-C .bl-food-list .bl-food-scroll ul li span {
              display: block;
              position: absolute;
              bottom: 0;
              background: #fff;
              color: #cfbbba;
              width: 100%;
              height: .2rem;
              line-height: .2rem;
              font-size: .08rem;
              padding-left: 20px; }
      .book-list-C .booklist-right-C .bl-food-list .bl-food-next {
        width: 10%;
        height: 40%;
        text-align: center;
        line-height: 5vh;
        -webkit-transform: scaleY(2.5);
        transform: scaleY(2.5); }

/*# sourceMappingURL=booklist.css.map */