

@mixin pos($v) {
  @if $v == a {
    position: absolute;
  } 
  @else if $v == r {
     position: relative;
  } 
  @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  transition-delay: $time;
}


@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(0, 0.9, 0.17, 1.01))
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}
@mixin animationDelay($time){
  -webkit-animation-delay:$time;
          animation-delay:$time;
}

@mixin transform3d() {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v:vertical) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.3,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}


$baseColor:#d1bdbd;
$baseColor1:#e89e79;
$maxIndex:9999;

.fly-cook-list{
}


.fly-play-ico{
   width: .2 * 10vw;
   @include pos(a);
   right: 0;
   bottom:.15 * 10vw;
}

@-webkit-keyframes move{
  50%{
    @include transform(translate3d(-100%,0,0));
  }
  100%{
    @include transform(translate3d(0,0,0)); 
  }
}
.startMove{
  @include animation(move .3s ease);
}


.fly-cook-book-item-C{
  $width:.1 * 10vw;
   span.tag{

        &:before{
          content:"";
          @include pos(a);
          left: 1px;
          top: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          @include br(12px);
          box-shadow:10px 0 .07* 10vw rgba(232,158,121,.2);
        }
        @include pos(a);
        background:#fff;
        z-index:0;
        width:$width;
        right: -$width*2 ;
        padding:20px 20px 20px 40px;
        font-size: .08 * 10vw;
        top:.1 * 10vw;
        @include br(14px);
       canvas{
        @include pos(a);
        right: 0;
        top: 0;
      }
   }
}

.book-list-C{
 

  &:before{
      content:'';
      box-shadow:0 0 .1 * 10vw rgba(232,158,121,.8);
      @include pos(a);
      left: 0;
      top: 0;
      @include br(30px);
      width: 100%;
      height: 100%;
   }

	width:88%;
  &.active{
      z-index: 2;
      left:-.2 * 10vw;
  }
  z-index: 1;
	height:1.9 * 10vw;
	margin:5% auto;
	left:-.02 * 10vw;
  background: #FFF;
	@include br(30px);
	@include pos(r);
	

  @include displayBox(horizontal);
  .booklist-left-C{
    width: 25%;
    
    height: 100%;
    @include displayBox(vertical);
    @include pos(r);
    &:after{
      content:'';
      @include pos(a);
      right: 20px;
      top:0;
      width: 1px;
      height: 100%;
      @include fly-v-gradient-line();

    }
    div{
        $width:.3 * 10vw;
        width:$width;
        height: $width;
        line-height: $width - .25;
        text-align: center;
        @include br(50%);
        border:3px solid transparent;

        box-sizing:border-box;
        &.active{
          border-color:$baseColor1;
        }
        &:nth-of-type(2){
          margin:10px 0;
        }
    }

  }
  .booklist-right-C{
    width:75%;
    height: 100%;
    @include displayBox(vertical);
    @include pos(r);
    
    .bl-calendar{
        width: 100%;
        margin-left: -8%;
        -webkit-box-flex: 1;
        table{
           padding-top:.1 * 10vw;
           width:96%;
           padding-left: 20px;
           box-sizing:border-box;
           text-align: center;
           th{
            font-weight: normal;
            font-size: .08 * 10vw;
            border-bottom:1px solid #dcdcdc;
            padding-bottom:20px;
           }
           tbody{
              tr{
                height: .28 * 10vw;
                &:nth-of-type(1){
                  td{
                    padding:.05 * 10vw 0;
                    border-bottom:1px solid #dcdcdc;
                    box-sizing:border-box;
                    padding-bottom:2.5vw;
                  }
                }
               }
           }
           
           td{
              span{
                display:block;
                font-size: .08 * 10vw;
                &:nth-of-type(2){
                  font-size: .07 * 10vw;
                }
              }
              @include pos(r);
              div{
                 @include pos(r);
                &:before{
                  content:'';
                  $width:.05 * 10vw;
                  width:$width;
                  height: $width;
                  @include br(50%);
                  @include pos(a);
                  right: .01 * 10vw;
                  top: .01 * 10vw;  
                }
              }
              .hasfood{
                @include br(50%);
               
                  &:before{
                    background:$baseColor1;
                  }
              }

              div{
                background:transparent;
                  width: .25 * 10vw;
                  height: .25 * 10vw;
                  @include br(50%);
                  @include pos(a);
                  left: .023 * 10vw;
                  top: .05 * 10vw;
               }
           }
           .today{
              color:$baseColor1;
              
               div{
                background:#efefef;
               }
              span{
                color:inherit;
              }
               
           }
           
        }

        box-sizing:border-box;
        height: 50%;
    }

    .bl-food-list{


        width: 100%;
        height: 50%;
        
        @include displayBox(horizontal);

        .bl-food-scroll{
          &.no-data:before{
            content:'暂无数据';
              color:#f00;
              margin-left: 40%;
              margin-top: 15%;
              display:block;
          }  
          width: 90%;
          height: 100%;
          overflow: hidden;
         // background:rgba(232,158,121,.1);
          @include pos(r);
          &:before{
            content:'';
            //box-shadow:0 0 .3 * 10vw rgba(232,158,121,.3),0 0 .1 * 10vw rgba(232,158,121,.3) inset;
            @include pos(a);
            width: 100%;
            height: 100%;
            left: 0;
            top:0;
          }
          @include br(20px);
          margin-top: -.14 * 10vw;
          ul{
            margin-top: -.01 * 10vw;
            li{
              canvas{
                @include pos(a);
                left: 0;
                top: 0;
              }
              width: .731 * 10vw;
              @include transform(scale(.9));
              float: left;
              height: .9 * 10vw;
              @include pos(r);
              box-sizing: border-box;
              div{
                background-size:cover !important;
                &:before{
                  content:'';
                  box-shadow:0 0 .1 * 10vw rgba(232,158,121,.4);
                  @include pos(a);
                  @include br(20px);
                  left: 0;
                  top:0;
                  width: 100%;
                  height: 100%;
                }
                $width:90%;
                @include pos(a);
                @include br(20px);
                width:$width;
                height: $width;
                left: 100 - $width;
                top: 100 - $width;
               // @include transition(border .1s);
                &.active{
                   box-sizing:border-box;
                    border:8px solid rgb(232, 158, 121);
                    z-index: 1;
                    overflow: hidden;
                    @include pos(r);
                    span{
                      //@include transition_transform(.1s);
                      @include transform(translate3d(0,-6px,0));
                      border-bottom-left-radius:0;
                      border-bottom-right-radius:0;
                    }
                }
                box-sizing: border-box;
              }
              span{
                 font-size:.06 * 10vw;
                display:block;
                width:100%;
                @include pos(r);
                color:#cfbbba;
                top: .665 * 10vw;
                text-align: center;
                height: .15 * 10vw;
                line-height: .15 * 10vw;
                background:rgba(255,255,255,1);
                 border-bottom-left-radius:20px;
                border-bottom-right-radius:20px;
              }
            }
          }
        }
        .bl-food-next{
          width: 10%;
          height: 40%;
          text-align: center;
          line-height: 5vh;
          @include transform(scaleY(2.5));
        }
    }
  }
}