

@mixin pos($v) {
  @if $v == a {
    position: absolute;
  } 
  @else if $v == r {
     position: relative;
  } 
  @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  transition-delay: $time;
}


@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(0, 0.9, 0.17, 1.01))
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}
@mixin animationDelay($time){
  -webkit-animation-delay:$time;
          animation-delay:$time;
}

@mixin transform3d() {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v:vertical) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.3,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 0, 0, $minOpacity)), color-stop(0.5, rgba(0, 0, 0, $maxOpacity)), to(rgba(0, 0, 0, $minOpacity)));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}


$baseColor:#d1bdbd;
$baseColor1:#e89e79;
$maxIndex:9999;

.fly-cook-list{
}


.book-list-C{
	width:88%;
	height:80%;
	margin:5% auto;
	background:#fff;
	@include br(30px);
	@include pos(r);
	$width:.1rem;
	&:before{
		content:'已加入菜谱';
		background:inherit;//
		@include pos(a);
		width:$width;
		right: -$width - .1 ;
    padding:20px 20px 20px 40px;
    font-size: .08rem;
		top:.1rem;
    @include br(14px);

	}
  @include displayBox(horizontal);
  .booklist-left-C{
    -webkit-box-flex: 1;
    
    height: 100%;
    @include displayBox(vertical);
    @include pos(r);
    &:after{
      content:'';
      @include pos(a);
      right: 20px;
      top:0;
      width: 1px;
      height: 100%;
      @include fly-v-gradient-line();

    }
    div{
        $width:.3rem;
        width:$width;
        height: $width;
        line-height: $width;
        text-align: center;
        @include br(50%);
        &.active{
          border:3px solid $baseColor1;
          box-sizing:border-box;
        }
    }

  }
  .booklist-right-C{
    -webkit-box-flex: 3;
    height: 100%;
    @include displayBox(vertical);
    .bl-calendar{
        width: 100%;
        -webkit-box-flex: 1;
        table{
           padding-top:.1rem;
           width:90%;
           padding-left: 20px;
           box-sizing:border-box;
           text-align: center;
           th{
            font-weight: normal;
            font-size: .08rem;
            border-bottom:1px solid #dcdcdc;
            padding-bottom:20px;
           }
        }
    }
    .bl-food-list{
        -webkit-box-flex: 1;
        width: 100%;
    }
  }
}