

@mixin pos($v) {
  @if $v == a {
    position: absolute;
  } 
  @else if $v == r {
     position: relative;
  } 
  @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  transition-delay: $time;
}


@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(0, 0.9, 0.17, 1.01))
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}
@mixin animationDelay($time){
  -webkit-animation-delay:$time;
          animation-delay:$time;
}

@mixin transform3d() {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}


$baseColor:#d1bdbd;
$baseColor1:#e89e79;
$maxIndex:9999;

$size:.3 * 10vw;

.fly-round{
    height: 2.1 * 10vw;
    overflow: hidden;
    position: relative;
  
    &:after{
      content: "";
      clear: both;
      display: block;
    }

    .fly-line,.fly-line1{
/* 
      width: 90%;
      left: 5%;
      border-top:2px solid #fff;
      @include pos(a);
      top: $size; */

    }  
    .fly-line1{
       top:1.7 * 10vw;
    }

}

.roundWrap1{
    //margin-left: .6 * 10vw;
}

.roundWrap {
  -webkit-perspective: 1000px;
  float: left;
  perspective: 1000px;
  width:$size;
  height:65%;
  margin-left: .56 * 10vw;
  margin-top: .4 * 10vw;
  overflow: hidden;

}

.round {
    width:$size;
    height: $size;
    @include pos(r);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    @include transformOrigin(center center -1.9*$size/.2);
    z-index: 2;
   div {
      position: absolute;
      left: 0;
      width: 100%;;
      top:$size;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: top;
      transform-origin: top;
      -webkit-transform: rotateX(-6deg);
      transform: rotateX(-6deg);
      backface-visibility: hidden;
   }
}
.round>div{
  top: 0;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);

}
.round span {
  box-sizing:border-box;
  width: $size ;
  height:$size;
  text-align: center;
  line-height: $size;
  font-size: .1 * 10vw;
  color:#fff;
  display:block;
  
  //box-shadow: 0 0 3px #dde5ed;

}


.fly-time-unit-C{
   @include pos(a);
   left: 5%;
   top: 50%;
   width: 90%;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
   height: $size;
   margin-top: -$size/2 /2;
   line-height: $size +.04;
   z-index: -1;
   span{
    color:#fff;
    &:nth-of-type(1){
      margin-left: $size*2.2;
    }
    &:nth-of-type(2){
      margin-left: $size*2.2;
    }
   }
}

.fly-begin-clock,.fly-cancel{
   @include pos(a);
   right: .3 * 10vw;
   bottom: 0;
   color:#fff;
   height: .1 * 10vw;
   line-height: .1 * 10vw;
   border:2px solid #fff;
   @include br(30px);
   padding: 8px 40px;
   font-size: .08 * 10vw;
}

.fly-cancel{
   right: .2 * 10vw;
   bottom: .074 * 10vw;;
}

.fly-countdown-canvas{
  @include pos(a);
  width: 90%;
  left: 5%;
  height: 100%;
  canvas{
    @include pos(a);
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
}
