

@mixin pos($v) {
  @if $v == a {
    position: absolute;
  } 
  @else if $v == r {
     position: relative;
  } 
  @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  transition-delay: $time;
}


@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(0, 0.9, 0.17, 1.01))
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}
@mixin animationDelay($time){
  -webkit-animation-delay:$time;
          animation-delay:$time;
}

@mixin transform3d() {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v:vertical) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.3,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}


$baseColor:#d1bdbd;
$baseColor1:#e89e79;
$maxIndex:9999;

.fly-plate-C{
  @include pos(r);

  height: 2.67 * 10vw !important; 
  $plateWidth:.9 * 10vw;
  .fly-plate-demo{
    @include pos(a);
    width:$plateWidth;
    height: $plateWidth;
    background:#fff;
    @include br(50%);
  }
  .fly-plate-item{

    &.sm{
      @include transform(scale(.86));
    }
    @include pos(a);
    //@include transition_transform(.2s);
    width: $plateWidth;
    height: $plateWidth;
    background:#fff;
    z-index: 10;
    top:0;
    left: 0;
    @include br(50%);
   // @include transition_transform(.5s);
    @include transitionTimingFunction();
    &.will-delete{
      @include transform(scale(.6));
      opacity:.5;
    }
    &.delete{
      //@include transform(scale(0));
      @include transition(opacity 1s);
      @include transitionTimingFunction();
      z-index: -1 !important;
      opacity:0;

    }
  }
  
  //破碎的盘子。
  .fly-broken-plate{
      @include pos(a);
      right: 0;
      bottom:0;
      width: .8 * 10vw;
      height: .8 * 10vw;
      @include br(50%);
      overflow: hidden;
      @include transform3d();
      opacity:0;
      z-index: -1;
      div{
        width: 50%;
        height: 50%;
        @include pos(a);
        left: 0;
        top: 0;
        background:#fff;
        z-index: -1;
        @include transition_transform(.4s);
        &:nth-of-type(2){
          left: 50%;
        }
        &:nth-of-type(3){
           top: 50%;
        }
        &:nth-of-type(4){
          left: 50%;
          top: 50%;
        }
      }

      &.active{
        opacity:1;

        z-index: 1;
        div{
            @include transform(translate3d(-.1 * 10vw,-.1 * 10vw,3 * 10vw));   
            &:nth-of-type(2){
              @include transform(translate3d(.1 * 10vw,-.1 * 10vw,3 * 10vw));   
            }
            &:nth-of-type(3){
              @include transform(translate3d(-.1 * 10vw,.1 * 10vw,3 * 10vw));   
            }
            &:nth-of-type(4){
             @include transform(translate3d(.1 * 10vw,.1 * 10vw,3 * 10vw));   
            }
            
          }
      }

  }
  //垃圾桶
  .fly-draw-trash-C{

    z-index:-1;
    opacity:0;
    @include transition_transform(1s);
    @include transitionTimingFunction();

    &.active{
        z-index: $maxIndex + 10;
       opacity:1;
    }

    &.begin-trashed{
      $trashColor :#d9534f;
      @include transform(scale(.7));
        .trash-header{
           border:.1 * 10vw solid $trashColor;
        }
        .hat{
           @include transition(.2s);
        }
        .trash-hat{

           @include transformOrigin(right);
           @include transform(rotate(30deg) translate3d(30px,0,0));
        }
        .trash-header-bar{
           background:$trashColor;
        }
        .trash-body{
           border:.12 * 10vw solid $trashColor;
        }

        .trash-line{
           border:.025 * 10vw solid $trashColor;
        }

        .trash-line1{
           border:.04 * 10vw solid $trashColor;
        }
        
        .trash-line2{
           border:.04 * 10vw solid $trashColor;
        }

    }
    
    @include transform(scale(.5));
    @include transformOrigin(right bottom);

    right: 0;
    bottom: 0;

    $trashColor:#fff;
    width: 1 * 10vw;
    height: 1.2 * 10vw;
    @include pos(a);
    @include transform3d();
    
    .trash-header{
       width: 20%;
       height: .05 * 10vw;
       border:.1 * 10vw solid $trashColor;
       @include br(.12 * 10vw);
       left: 30%;
       @include pos(a);
    }
    .trash-header-bar{
       width: 100%;
       @include pos(a);
       left: 0;
       height: .1 * 10vw;
       @include br(.1 * 10vw);
       background:$trashColor;
       top:.15 * 10vw;
    }
    .trash-body{
       width: 86%;
       height: 1.4 * 10vw;
       @include pos(a);
       top: .15 * 10vw;
       left: 7%;
       @include transformOrigin(top);
       @include transform(rotateX(-35deg));
       //@include br(.25 * 10vw);

       border-bottom-left-radius:.2 * 10vw;
       border-bottom-right-radius:.2 * 10vw;

       border:.12 * 10vw solid $trashColor;
       box-sizing:border-box;

    }

    .trash-line{
       width: 40%;
       height: 0;
       @include pos(a);
       left: 28%;
       @include br(.1 * 10vw);
       border:.025 * 10vw solid $trashColor;
       margin-top: .35 * 10vw;
    }

    .trash-line1{
       width: 0;
       height: .4 * 10vw;
       @include pos(a);
       left: 34%;
       @include br(.1 * 10vw);
       border:.04 * 10vw solid $trashColor;
       margin-top: .5 * 10vw;
       @include transform(rotate(-5deg));
    }
    
    .trash-line2{
       width: 0;
       height: .4 * 10vw;
       @include pos(a);
       left: 58%;
       @include br(.1 * 10vw);
       border:.04 * 10vw solid $trashColor;
       margin-top: .5 * 10vw;
       @include transform(rotate(5deg));
    }
  }

   .fly-grid-C{
     width:100%;
     height: 100%;
     li.fly-grid{
        width: 33%;
        height:.9 * 10vw;
        float: left;
     }
   }

}