.fly-plate-C {
  position: relative;
  height: 26.7vw !important; }
  .fly-plate-C .fly-plate-demo {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background: #fff;
    border-radius: 50%; }
  .fly-plate-C .fly-plate-item {
    position: absolute;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    width: 9vw;
    height: 9vw;
    background: #fff;
    z-index: 10;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01);
    transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01); }
    .fly-plate-C .fly-plate-item.sm {
      -webkit-transform: scale(0.86);
      transform: scale(0.86); }
    .fly-plate-C .fly-plate-item.will-delete {
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      opacity: .5; }
    .fly-plate-C .fly-plate-item.delete {
      -webkit-transform: scale(0);
      transform: scale(0); }
  .fly-plate-C .fly-broken-plate {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    -webkit-perspective: 800px;
    opacity: 0;
    z-index: -1; }
    .fly-plate-C .fly-broken-plate div {
      width: 50%;
      height: 50%;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      z-index: -1;
      -webkit-transition: -webkit-transform 0.4s;
      transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      transition: transform 0.4s, -webkit-transform 0.4s; }
      .fly-plate-C .fly-broken-plate div:nth-of-type(2) {
        left: 50%; }
      .fly-plate-C .fly-broken-plate div:nth-of-type(3) {
        top: 50%; }
      .fly-plate-C .fly-broken-plate div:nth-of-type(4) {
        left: 50%;
        top: 50%; }
    .fly-plate-C .fly-broken-plate.active {
      opacity: 1;
      z-index: 1; }
      .fly-plate-C .fly-broken-plate.active div {
        -webkit-transform: translate3d(-1vw, -1vw, 30vw);
        transform: translate3d(-1vw, -1vw, 30vw); }
        .fly-plate-C .fly-broken-plate.active div:nth-of-type(2) {
          -webkit-transform: translate3d(1vw, -1vw, 30vw);
          transform: translate3d(1vw, -1vw, 30vw); }
        .fly-plate-C .fly-broken-plate.active div:nth-of-type(3) {
          -webkit-transform: translate3d(-1vw, 1vw, 30vw);
          transform: translate3d(-1vw, 1vw, 30vw); }
        .fly-plate-C .fly-broken-plate.active div:nth-of-type(4) {
          -webkit-transform: translate3d(1vw, 1vw, 30vw);
          transform: translate3d(1vw, 1vw, 30vw); }
  .fly-plate-C .fly-draw-trash-C {
    z-index: -1;
    opacity: 0;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01);
    transition-timing-function: cubic-bezier(0, 0.9, 0.17, 1.01);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    right: 0;
    bottom: 0;
    width: 10vw;
    height: 12vw;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    -webkit-perspective: 800px; }
    .fly-plate-C .fly-draw-trash-C.active {
      z-index: 10009;
      opacity: 1; }
    .fly-plate-C .fly-draw-trash-C.begin-trashed {
      -webkit-transform: scale(0.7);
      transform: scale(0.7); }
      .fly-plate-C .fly-draw-trash-C.begin-trashed .trash-header {
        border: 1vw solid #d9534f; }
      .fly-plate-C .fly-draw-trash-C.begin-trashed .hat {
        -webkit-transition: 0.2s;
        transition: 0.2s; }
      .fly-plate-C .fly-draw-trash-C.begin-trashed .trash-hat {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: rotate(30deg) translate3d(30px, 0, 0);
        transform: rotate(30deg) translate3d(30px, 0, 0); }
      .fly-plate-C .fly-draw-trash-C.begin-trashed .trash-header-bar {
        background: #d9534f; }
      .fly-plate-C .fly-draw-trash-C.begin-trashed .trash-body {
        border: 1.2vw solid #d9534f; }
      .fly-plate-C .fly-draw-trash-C.begin-trashed .trash-line {
        border: 0.25vw solid #d9534f; }
      .fly-plate-C .fly-draw-trash-C.begin-trashed .trash-line1 {
        border: 0.4vw solid #d9534f; }
      .fly-plate-C .fly-draw-trash-C.begin-trashed .trash-line2 {
        border: 0.4vw solid #d9534f; }
    .fly-plate-C .fly-draw-trash-C .trash-header {
      width: 20%;
      height: 0.5vw;
      border: 1vw solid #fff;
      border-radius: 1.2vw;
      left: 30%;
      position: absolute; }
    .fly-plate-C .fly-draw-trash-C .trash-header-bar {
      width: 100%;
      position: absolute;
      left: 0;
      height: 1vw;
      border-radius: 1vw;
      background: #fff;
      top: 1.5vw; }
    .fly-plate-C .fly-draw-trash-C .trash-body {
      width: 86%;
      height: 14vw;
      position: absolute;
      top: 1.5vw;
      left: 7%;
      -webkit-transform-origin: top;
      transform-origin: top;
      -webkit-transform: rotateX(-35deg);
      transform: rotateX(-35deg);
      border-bottom-left-radius: 2vw;
      border-bottom-right-radius: 2vw;
      border: 1.2vw solid #fff;
      box-sizing: border-box; }
    .fly-plate-C .fly-draw-trash-C .trash-line {
      width: 40%;
      height: 0;
      position: absolute;
      left: 28%;
      border-radius: 1vw;
      border: 0.25vw solid #fff;
      margin-top: 3.5vw; }
    .fly-plate-C .fly-draw-trash-C .trash-line1 {
      width: 0;
      height: 4vw;
      position: absolute;
      left: 34%;
      border-radius: 1vw;
      border: 0.4vw solid #fff;
      margin-top: 5vw;
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    .fly-plate-C .fly-draw-trash-C .trash-line2 {
      width: 0;
      height: 4vw;
      position: absolute;
      left: 58%;
      border-radius: 1vw;
      border: 0.4vw solid #fff;
      margin-top: 5vw;
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg); }
  .fly-plate-C .fly-grid-C {
    width: 100%;
    height: 100%; }
    .fly-plate-C .fly-grid-C li.fly-grid {
      width: 33%;
      height: 9vw;
      float: left; }

/*# sourceMappingURL=foodsplace.css.map */