@charset "UTF-8";
/*我的收藏组件*/
.fly-collect-C {
  left: 2.2vw;
  width: 88%;
  height: 19vw;
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 30px;
  background: #fff; }
  .fly-collect-C .foodlist {
    margin: 0 auto; }
  .fly-collect-C.active {
    z-index: 3;
    left: 0.2vw; }
  .fly-collect-C:before {
    box-shadow: 0 0 3vw rgba(232, 158, 121, 0.6);
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    border-radius: 30px;
    width: 100%;
    height: 100%; }
  .fly-collect-C span.tag {
    position: absolute;
    right: -2vw;
    z-index: 0;
    top: 50%;
    border-radius: 20px;
    width: 1vw;
    background: #fFF;
    padding: 20px 20px 20px 40px;
    font-size: 0.8vw; }
    .fly-collect-C span.tag:before {
      content: "";
      position: absolute;
      left: 1px;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      box-shadow: 10px 0 0.7vw rgba(232, 158, 121, 0.2); }
    .fly-collect-C span.tag canvas {
      position: absolute;
      right: 0;
      top: 0; }
  .fly-collect-C .foodlist-C {
    height: 19vw; }
  .fly-collect-C .foodlist-content {
    width: 92%;
    height: 19vw;
    overflow: hidden;
    width: 100% !important; }
    .fly-collect-C .foodlist-content .fly-play-ico {
      bottom: 1.8vw;
      right: 0.4vw; }
    .fly-collect-C .foodlist-content.no-data:before {
      content: '暂无数据';
      color: #f00;
      margin-top: 50%;
      margin-left: 20%;
      display: block; }
    .fly-collect-C .foodlist-content ul {
      margin-top: 0.6vw;
      margin-left: 1.2vw;
      height: 18vw;
      width: 100%;
      border-radius: 20px;
      position: relative; }
    .fly-collect-C .foodlist-content li {
      width: 6.75vw;
      float: left;
      height: 9vw;
      box-sizing: border-box;
      position: relative;
      padding: 0;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      border-radius: 20px; }
      .fly-collect-C .foodlist-content li div.active {
        box-sizing: border-box;
        border: 8px solid #e89e79;
        z-index: 1;
        overflow: hidden;
        position: relative; }
        .fly-collect-C .foodlist-content li div.active span {
          -webkit-transform: translate3d(0, -6px, 0);
          transform: translate3d(0, -6px, 0);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0; }
      .fly-collect-C .foodlist-content li:before {
        content: '';
        box-shadow: 0 0 2vw rgba(232, 158, 121, 0.4);
        border-radius: 20px;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0; }
      .fly-collect-C .foodlist-content li div {
        width: 100%;
        border-radius: 20px;
        height: 100%; }
      .fly-collect-C .foodlist-content li span {
        font-size: 0.6vw;
        bottom: 0;
        display: block;
        width: 100%;
        position: relative;
        color: #cfbbba;
        top: 7.5vw;
        text-align: center;
        height: 1.5vw;
        line-height: 1.5vw;
        background: white; }
      .fly-collect-C .foodlist-content li.food-top {
        margin-top: 0vw; }

/*# sourceMappingURL=mycollect.css.map */