

@mixin pos($v) {
  @if $v == a {
    position: absolute;
  } 
  @else if $v == r {
     position: relative;
  } 
  @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  transition-delay: $time;
}


@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(0, 0.9, 0.17, 1.01))
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}
@mixin animationDelay($time){
  -webkit-animation-delay:$time;
          animation-delay:$time;
}

@mixin transform3d() {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}


$baseColor:#d1bdbd;
$baseColor1:#e89e79;
$maxIndex:9999;

$foodlist-height:1.6 * 10vw;

/*我的收藏组件*/

.fly-collect-C{
  //background:#f8ded1 !important;
  .foodlist{
    margin:0 auto;
  }
  &.active{
    z-index: 3;
    left: .02 * 10vw;
  }
  left: .22 * 10vw;
  width: 88%;
  height: 1.9 * 10vw;
  @include pos(a);
  
  &:before{
    box-shadow:0 0 .3 * 10vw rgba(232,158,121,.6);
    @include pos(a);
    content:'';
    left: 0;
    top:0;
    @include br(30px);
    width: 100%;
    height: 100%;
  }
  top: 0;
  z-index: 1;

  
  @include br(30px);
  background: #fff;
  span.tag{
    &:before{
      content:"";
      @include pos(a);
      left: 1px;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      @include br(12px);
      box-shadow:20px 0 .07* 10vw rgba(232,158,121,.2);
    }
    @include pos(a);
    right: -.2 * 10vw;
    z-index: 0;
    top:50%;
    @include br(20px);
    width: .1 * 10vw;
    background: #fFF;
    padding:20px 20px 20px 40px;
    font-size: .08 * 10vw;
     canvas{
        @include pos(a);
        right: 0;
        top: 0;
      }
  }

  .foodlist-C{
    height: 1.9 * 10vw;
  }

  .foodlist-content{
      width: 92%;
      height: 1.9 * 10vw;
    .fly-play-ico{
       bottom:.18 * 10vw;
       right: .04 * 10vw;
    }
    &.no-data:before{
      content:'暂无数据';
      color:#f00;
      margin-top: 50%;
      margin-left: 20%;
      display:block;
    }

    overflow: hidden;
    width:100% !important;

   ul{
     margin-top: .06 * 10vw;;
     margin-left: .12 * 10vw;
     height: 1.8 * 10vw;
     width: 100%;
     @include br(20px);
     @include pos(r);
   }
    
    li{

      width:.675 * 10vw;
      float: left;
      height:.9 * 10vw;
      box-sizing:border-box;
      @include pos(r);
      padding:0;
      @include transform(scale(.90));
      div.active{
        box-sizing:border-box;
        border:8px solid rgb(232, 158, 121);
        z-index: 1;
        overflow: hidden;
        @include pos(r);
        span{
          @include transform(translate3d(0,-6px,0));
          border-bottom-left-radius:0;
          border-bottom-right-radius:0;
        }
      }
       @include br(20px);
        
     &:before{
        content:'';
        box-shadow:0 0 .2 * 10vw rgba(232, 158, 121,.4);
        @include br(20px);
        @include pos(a);
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;  
      }

      div{
        width:100%;
        @include br(20px);
        height:100%;  
       
      }
      span{
        font-size:.06 * 10vw;
        bottom:0;
        display:block;
        width:100%;
        @include pos(r);
        color:#cfbbba;
        top: .75 * 10vw;
        text-align: center;
        height: .15 * 10vw;
        line-height: .15 * 10vw;
        background:rgba(255,255,255,1);
       
      }
      &.food-top{
        margin-top: 0 * 10vw;  
      }


    }

  }
}