.fly-weight {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical; }
  .fly-weight .fly-btns-C {
    width: 60%;
    height: .5rem;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .fly-weight .fly-btns-C figure {
      margin: 0 .05rem; }
      .fly-weight .fly-btns-C figure img {
        border-radius: 50%; }
      .fly-weight .fly-btns-C figure:first-of-type {
        margin-left: .1rem; }
  .fly-weight .shadow {
    box-shadow: 0 0 1.1rem rgba(232, 158, 121, 0.7); }
  .fly-weight .fly-operator-C {
    position: relative;
    border-radius: 0.25rem; }
    .fly-weight .fly-operator-C .fly-countdown-C {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      .fly-weight .fly-operator-C .fly-countdown-C:after, .fly-weight .fly-operator-C .fly-countdown-C:before {
        content: '';
        position: absolute;
        width: 90%;
        left: 5%;
        border-top: 1px solid #fff;
        top: .4rem; }
      .fly-weight .fly-operator-C .fly-countdown-C:after {
        bottom: .3rem;
        top: auto; }
    .fly-weight .fly-operator-C div.fly-img-board, .fly-weight .fly-operator-C div.fly-img-weight {
      width: 98%; }
    .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display {
      position: absolute;
      height: .4rem;
      width: 98%;
      bottom: .05rem;
      left: 0;
      box-sizing: border-box;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div {
        text-align: center; }
        .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(2) {
          height: .4rem;
          width: 1.15rem; }
          .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(2) canvas {
            margin-left: -.08rem; }
        .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(1), .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(3) {
          border: 3px solid #df9977;
          margin-top: .1rem;
          border-radius: 50%;
          line-height: .3rem;
          color: #df9977;
          width: .3rem;
          height: .3rem; }
          .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(1).shadow, .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(3).shadow {
            box-shadow: 0 0 1.1rem rgba(232, 158, 121, 0.7); }
  .fly-weight .fly-show-countdown-top {
    position: absolute;
    top: .1rem;
    left: 2.1rem;
    border: 1px solid #fff; }
    .fly-weight .fly-show-countdown-top span {
      display: block;
      position: absolute;
      width: 0.1rem;
      height: 0.1rem;
      line-height: 0.1rem;
      text-align: center;
      background: #fff;
      left: -0.05rem;
      top: -0.05rem;
      border-radius: 50%; }
      .fly-weight .fly-show-countdown-top span:after, .fly-weight .fly-show-countdown-top span:before {
        content: '';
        position: absolute;
        width: 80%;
        left: 10%;
        top: 50%;
        border-top: 2px solid #e89e79;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .fly-weight .fly-show-countdown-top span:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }

/*# sourceMappingURL=operator-center.css.map */
