.fly-weight {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical; }
  .fly-weight h1 {
    height: 5vw; }
  .fly-weight .fly-btns-C {
    width: 50%;
    position: absolute;
    top: 0;
    left: 4vw;
    height: 5vw;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .fly-weight .fly-btns-C figure {
      position: relative;
      margin: 0 0.5vw; }
      .fly-weight .fly-btns-C figure img, .fly-weight .fly-btns-C figure canvas {
        border-radius: 50%; }
      .fly-weight .fly-btns-C figure:first-of-type {
        margin-left: 1vw; }
  .fly-weight .shadow {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
    .fly-weight .shadow:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 2vw rgba(232, 158, 121, 0.4), 0 0 1vw rgba(232, 158, 121, 0.4) inset;
      left: 0;
      border-radius: 50%;
      top: 0; }
  .fly-weight .fly-operator-C {
    position: relative;
    border-radius: 2.5vw; }
    .fly-weight .fly-operator-C .fly-countdown-C {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      .fly-weight .fly-operator-C .fly-countdown-C:after, .fly-weight .fly-operator-C .fly-countdown-C:before {
        content: '';
        position: absolute;
        width: 90%;
        left: 5%;
        border-top: 1px solid #fff;
        top: 4vw; }
      .fly-weight .fly-operator-C .fly-countdown-C:after {
        bottom: 3vw;
        top: auto; }
    .fly-weight .fly-operator-C div.fly-img-board, .fly-weight .fly-operator-C div.fly-img-weight {
      width: 98%; }
    .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display {
      position: absolute;
      height: 4vw;
      width: 98%;
      bottom: 0.5vw;
      left: 0;
      box-sizing: border-box;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div {
        text-align: center; }
        .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(2) {
          position: relative;
          height: 4vw;
          width: 11.5vw; }
          .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(2) canvas {
            bottom: 0;
            position: absolute;
            left: .5vw; }
        .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(1), .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(3) {
          position: relative;
          left: -1vw;
          border: 3px solid #df9977;
          margin-top: 1.5vw;
          border-radius: 50%;
          line-height: 2.5vw;
          color: #df9977;
          width: 2.5vw;
          height: 2.5vw; }
          .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(1) canvas, .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(3) canvas {
            position: absolute;
            left: 0; }
          .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(1):nth-of-type(3), .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(3):nth-of-type(3) {
            left: 1vw; }
          .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(1).shadow1, .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(3).shadow1 {
            -webkit-transform: scale(0.95);
            transform: scale(0.95); }
            .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(1).shadow1:before, .fly-weight .fly-operator-C div.fly-img-weight .fly-weight-display div:nth-of-type(3).shadow1:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              box-shadow: 0 0 2vw rgba(232, 158, 121, 0.4), 0 0 1vw rgba(232, 158, 121, 0.4) inset;
              left: 0;
              border-radius: 50%;
              top: 0; }
  .fly-weight .fly-show-countdown-top {
    position: absolute;
    top: 1vw;
    left: 21vw;
    border: 1px solid #fff;
    width: 16.5vw;
    z-index: 1000; }
    .fly-weight .fly-show-countdown-top canvas {
      float: left; }
    .fly-weight .fly-show-countdown-top span {
      display: block;
      position: absolute;
      width: 1vw;
      height: 1vw;
      line-height: 1vw;
      text-align: center;
      background: #fff;
      left: -0.5vw;
      top: -0.5vw;
      border-radius: 50%; }
      .fly-weight .fly-show-countdown-top span:after, .fly-weight .fly-show-countdown-top span:before {
        content: '';
        position: absolute;
        width: 80%;
        left: 10%;
        top: 50%;
        border-top: 2px solid #e89e79;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .fly-weight .fly-show-countdown-top span:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }

/*# sourceMappingURL=operator-center.css.map */
