

@mixin pos($v) {
  @if $v == a {
    position: absolute;
  } 
  @else if $v == r {
     position: relative;
  } 
  @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  transition-delay: $time;
}


@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(0, 0.9, 0.17, 1.01))
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}
@mixin animationDelay($time){
  -webkit-animation-delay:$time;
          animation-delay:$time;
}

@mixin transform3d() {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.2,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, $minOpacity)), color-stop(0.5, rgba(204, 204, 204, $maxOpacity)), to(rgba(204, 204, 204, $minOpacity)));
  background: -moz-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
  background: -ms-linear-gradient(top, rgba(204, 204, 204, $minOpacity), rgba(204, 204, 204, $maxOpacity) 50%, rgba(204, 204, 204, $minOpacity));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}


$baseColor:#d1bdbd;
$baseColor1:#e89e79;
$maxIndex:9999;


/*时间轴*/

.fly-time-line-C{
  width:10rem;
  height: .3rem;
  @include pos(r);
  line-height: .3rem;
  top:-.15rem;
  .line{
    width: 100%;
    height: 5px;
    background:#fff;
    @include pos(a);
    top:.15rem;
  }
  .fly-progress{
      width: 1rem;
      @include transform(scaleX(1.2));
      @include transformOrigin(left);
      @include pos(a);
      left: 0;
      top:50%;
      margin-top: -2px;
      height: 10px;
      @include br(10px);
      background: -webkit-gradient(linear, left top, right top, from(rgba(232,158,121,.3)), to(rgba(232,158,121,.9)));
      -webkit-filter:blur(1px);
      //background:red;
      &:after{
        content:'';
        @include pos(a);
        width: .1rem;
        height: .1rem;
        @include br(50%);
        background: rgba(232,158,121,1);
        right: 0;
        top: -.035rem;
        -webkit-filter:blur(8px);
      }

    }


  .fly-points-C{
    @include displayBox(horizontal);
    @include pos(r);
    top:.12rem;
    .prepare{
       span{
          -webkit-filter: blur(5px);
          background:rgba(255,255,256,1);  
       }
    }

    article{
      -webkit-box-flex: 1;
      text-align: center;
      @include pos(r);  
      color:#fff;
      font-size: .08rem;
      span{
        display: inline-block;
        width: .1rem;
        height: .1rem;
        background:rgba(255,255,256,.5);
        
        @include pos(a);
        top:-.02rem;
        left: 47%;
        @include br(50%);

      }
    }
  }
}