

@mixin pos($v) {
  @if $v == a {
    position: absolute;
  } 
  @else if $v == r {
     position: relative;
  } 
  @else if $v == f {
    position: fixed;
  }
}

@mixin br($v:50%) {
  border-radius: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  transition-delay: $time;
}


@mixin transformOrigin($v) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin transition_transform($v) {
  -webkit-transition: -webkit-transform $v;
  transition: transform $v;
}

@mixin transform_origin($v:center) {
  -webkit-transform-origin: $v;
  transform-origin: $v;
}

@mixin transition($v) {
  -webkit-transition: $v;
  transition: $v;
}

@mixin transitionTimingFunction($v:cubic-bezier(0, 0.9, 0.17, 1.01))
{
  -webkit-transition-timing-function: $v;
  transition-timing-function: $v;
}

@mixin transform($v) {
  -webkit-transform: $v;
  transform: $v;
}

@mixin background($bg) {
  background: $bg;
}

@mixin backgroundSize($v:cover) {
  background-size: $v;
}

@mixin animation($v) {
  -webkit-animation: $v;
  animation: $v;
}
@mixin animationDelay($time){
  -webkit-animation-delay:$time;
          animation-delay:$time;
}

@mixin transform3d() {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  -webkit-perspective: 800px;
}

@mixin displayBox($v:vertical) {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: $v;
}

@mixin fly-h-gradient-line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(204, 204, 204, .2)), color-stop(0.5, rgba(204, 204, 204, 1)), to(rgba(204, 204, 204, .2)));
  background: -moz-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
  background: -ms-linear-gradient(left, rgba(204, 204, 204, .2), rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, .2));
}

@mixin fly-v-gradient-line($minOpacity:.3,$maxOpacity:1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 0, 0, $minOpacity)), color-stop(0.5, rgba(0, 0, 0, $maxOpacity)), to(rgba(0, 0, 0, $minOpacity)));
}

@mixin displayFlex($v:column) {
  display: flex;
  display: -webkit-flex;
  flex-flow: $v;
}

 
$baseColor:#d1bdbd;
$baseColor1:#e89e79;
$maxIndex:9999;
$fontColor:#a16d56;
  .fly-video-C{
  
    .fly-close{
       display: block;
        @include pos(a);
        $size:.15 * 10vw;
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        z-index: 100;
        background: #fff;
        right:.1 * 10vw;
        top : -$size /1.8;
        @include br(50%);
        &:after,&:before{
          content:'';
          @include pos(a);
          width: 80%;
          left: 10%;
          top: 50%;
          border-top: 2px solid $baseColor1;
          @include transform(rotate(45deg));
        }
        &:after{
          @include transform(rotate(-45deg));
        }
    }

    $width:2.5 * 10vw;
    background:#727171;
    width: $width;
    display: block;
    margin:1.8vw auto;
    @include br(30px);
    section{
       @include pos(r);

       .fly-video-list{
          width:100%;
          height: 100%;
          @include pos(a);
          z-index: 10;
          left: 0;
          top: 0;
          background:#727171;
          border-top-right-radius:30px;
          border-top-left-radius:30px;
       }
        h1{
          height: .25 * 10vw;
        }
        .fly-video-operator{
           width:80%;
           margin: .1 * 10vw auto;
           @include displayBox(horizontal);
           div{
             width: .25 * 10vw;
             margin: 0 .1 * 10vw;
           }
        }

       .fly-video-list-scroll{
          width: 90%;
          margin:0 auto;
          overflow: hidden;
          height: .8 * 10vw;
          ul{
             @include displayBox(horizontal);
          }
          li.active{
            border:3px solid #f90;
            box-sizing:border-box;
            span{
              color:#f90;
            }
          }
          li{
             width: .4 * 10vw;
             height: .6 * 10vw;
             @include pos(r);
             margin: 0 10px;
             img{
               width: .13 * 10vw;
               @include pos(a);
               left: 50%;
               top: 50%;
               @include transform(translate3d(-50%,-50%,0));
             }
             span{
                @include pos(a);
                top: 105%;
                display: block;
                text-align: center;
                width: 100%;
                font-size: .08 * 10vw;
             }

          }
       }
    }
    video{
      width: $width;
      height: 16.3vw;
    }
    canvas{
      @include br(30px);
      @include pos(r);
      z-index: 10;
      display: none;
    }

   
    .fly-video-control-C{
       height: .25 * 10vw;

       width: 100%;
       background:#fff;
       z-index: 100;
       border-bottom-right-radius:30px;
       border-bottom-left-radius:30px;
       @include pos(r);
       .fly-video-scroll-C,.voice-C{
          @include pos(a);
          width: 100%;
          height: .01 * 10vw;
          z-index: 100;
          background:#918986;
          .fly-video-progress{
            width: 1px;
            height: .01 * 10vw;
            background:$baseColor1;
            @include transformOrigin(left);
            @include pos(a);
            left: 0;
          }
          span{
            $size:.1 * 10vw;
            width: $size;
            height: $size;
            background:#f0eeed;
            border:2px solid #cdb9b9;
            @include br(50%);
            @include pos(a);
            box-sizing:border-box;
            top:-($size - .01)/2;
          }
       }
       .fly-video-scroll-C{
         opacity:0;
       }
       .fly-control{
          width: 90%;
          height: .18 * 10vw;
          @include pos(r);
          top: .035 * 10vw;
          margin-left: .1 * 10vw;
           @include displayBox(horizontal);
           section{
              -webkit-box-flex: 1;
              height: .2 * 10vw;
           }
           .fly-voice{
             @include displayBox(horizontal);
             .voice-ico{
                width: .12 * 10vw;
                margin:0 .05 * 10vw;
                img{
                  display: block;
                }
             }
              .voice-C{
                @include pos(r);
                width: 70%
              }
          }
          .fly-video-btns{
            margin-left: .4 * 10vw;
             @include displayBox(horizontal);
             .fly-prev-btn,.fly-next-btn{
                display: inline-block;
                width: .2 * 10vw;
                @include displayBox(horizontal);
                .prev-ico{
                    width: 0;
                    height: 0;
                    $size:.06 * 10vw;

                    border-top: 0.4vw solid transparent;
                    border-right: 0.6vw solid #cebabb;
                    border-bottom: 0.4vw solid transparent;
                 
                    @include pos(r);
                    &:before{
                      content:'';
                       @include pos(a);
                        width: 0;
                        height: 0;
                        $scale:1.5;
                        left: 0.0134 * 10vw;
                        top:-.026 * 10vw;
                        border-top: 0.2667vw solid transparent;
                        border-right: 0.4vw solid #fff;
                        border-bottom: 0.2667vw solid transparent; 
                    }
                }
             }
             .fly-next-btn{
                .prev-ico{
                    @include transform(rotateY(180deg));
                }
             }
          }

          .fly-play-btn{
              $size:.14 * 10vw;
               width: $size;
               height: $size;
               
               @include br(50%);
               @include pos(r);
               border:2px solid #cebabb;
               &:after,&:before{
                  content:'';
                  @include pos(a);
                  width:0;
                  height: .8vw;
                  border:2px solid #cebabb;
                  border-top:none;
                  border-bottom: none;
                  top:.03 * 10vw;
                  left: .045 * 10vw;
               }
               &:after{
                  left: .085 * 10vw;
               }
            &.active{
                &:after{
                  content:'';
                  @include pos(a);
                   width: 0;
                    height: 0;
                    $scale:1.5;
                    top:.2vw;
                    left: 0.05 * 10vw;
                    $size:.08 * 10vw;
                    border-top:($size - .02) / $scale solid transparent;
                    border-left: $size / $scale solid #cebabb;
                    border-bottom: ($size - .02) / $scale solid transparent;
                    border-right:none;
               }
               &:before{
                  display: none;
               }
            }
          }

          .fly-video-time{
             line-height: .2 * 10vw;
             text-align: center;
             font-size:.08 * 10vw;
          }
       }
    }
  }