.fly-video-C {
  background: #727171;
  width: 25vw;
  display: block;
  margin: 1.8vw auto;
  border-radius: 30px; }
  .fly-video-C .fly-close {
    display: block;
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    line-height: 1.5vw;
    text-align: center;
    z-index: 100;
    background: #fff;
    right: 0.8vw;
    top: -0.625vw;
    border-radius: 50%; }
    .fly-video-C .fly-close:after, .fly-video-C .fly-close:before {
      content: '';
      position: absolute;
      width: 80%;
      left: 10%;
      top: 50%;
      border-top: 2px solid #e89e79;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .fly-video-C .fly-close:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .fly-video-C section {
    position: relative; }
    .fly-video-C section .fly-video-list {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      background: #727171;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px; }
    .fly-video-C section h1 {
      height: 2.5vw; }
    .fly-video-C section .fly-video-operator {
      width: 80%;
      margin: 1vw auto;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .fly-video-C section .fly-video-operator div {
        width: 2.5vw;
        margin: 0 1vw; }
    .fly-video-C section .fly-video-list-scroll {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;
      height: 8vw; }
      .fly-video-C section .fly-video-list-scroll ul {
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-box-orient: horizontal; }
      .fly-video-C section .fly-video-list-scroll li.active {
        border: 3px solid #f90;
        box-sizing: border-box; }
        .fly-video-C section .fly-video-list-scroll li.active span {
          color: #f90; }
      .fly-video-C section .fly-video-list-scroll li {
        width: 4vw;
        height: 6vw;
        position: relative;
        margin: 0 10px; }
        .fly-video-C section .fly-video-list-scroll li img {
          width: 1.3vw;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }
        .fly-video-C section .fly-video-list-scroll li span {
          position: absolute;
          top: 105%;
          display: block;
          text-align: center;
          width: 100%;
          font-size: 0.8vw; }
  .fly-video-C video {
    width: 25vw;
    height: 16.3vw; }
  .fly-video-C canvas {
    border-radius: 30px;
    position: relative;
    z-index: 10;
    display: none; }
  .fly-video-C .fly-video-control-C {
    height: 2.5vw;
    width: 100%;
    background: #fff;
    z-index: 100;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative; }
    .fly-video-C .fly-video-control-C .fly-video-scroll-C, .fly-video-C .fly-video-control-C .voice-C {
      position: absolute;
      width: 100%;
      height: 0.1vw;
      z-index: 100;
      background: #918986; }
      .fly-video-C .fly-video-control-C .fly-video-scroll-C .fly-video-progress, .fly-video-C .fly-video-control-C .voice-C .fly-video-progress {
        width: 1px;
        height: 0.1vw;
        background: #e89e79;
        -webkit-transform-origin: left;
        transform-origin: left;
        position: absolute;
        left: 0; }
      .fly-video-C .fly-video-control-C .fly-video-scroll-C span, .fly-video-C .fly-video-control-C .voice-C span {
        width: 1vw;
        height: 1vw;
        background: #f0eeed;
        border: 2px solid #cdb9b9;
        border-radius: 50%;
        position: absolute;
        box-sizing: border-box;
        top: -0.495vw; }
    .fly-video-C .fly-video-control-C .fly-video-scroll-C {
      opacity: 0; }
    .fly-video-C .fly-video-control-C .fly-control {
      width: 90%;
      height: 1.8vw;
      position: relative;
      top: 0.35vw;
      margin-left: 1vw;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: horizontal; }
      .fly-video-C .fly-video-control-C .fly-control section {
        -webkit-box-flex: 1;
        height: 2vw; }
      .fly-video-C .fly-video-control-C .fly-control .fly-voice {
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-box-orient: horizontal; }
        .fly-video-C .fly-video-control-C .fly-control .fly-voice .voice-ico {
          width: 1.2vw;
          margin: 0 0.5vw; }
          .fly-video-C .fly-video-control-C .fly-control .fly-voice .voice-ico img {
            display: block; }
        .fly-video-C .fly-video-control-C .fly-control .fly-voice .voice-C {
          position: relative;
          width: 70%; }
      .fly-video-C .fly-video-control-C .fly-control .fly-video-btns {
        margin-left: 4vw;
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        -webkit-box-orient: horizontal; }
        .fly-video-C .fly-video-control-C .fly-control .fly-video-btns .fly-prev-btn, .fly-video-C .fly-video-control-C .fly-control .fly-video-btns .fly-next-btn {
          display: inline-block;
          width: 2vw;
          display: -webkit-box;
          -webkit-box-align: center;
          -webkit-box-pack: center;
          -webkit-box-orient: horizontal; }
          .fly-video-C .fly-video-control-C .fly-control .fly-video-btns .fly-prev-btn .prev-ico, .fly-video-C .fly-video-control-C .fly-control .fly-video-btns .fly-next-btn .prev-ico {
            width: 0;
            height: 0;
            border-top: 0.4vw solid transparent;
            border-right: 0.6vw solid #cebabb;
            border-bottom: 0.4vw solid transparent;
            position: relative; }
            .fly-video-C .fly-video-control-C .fly-control .fly-video-btns .fly-prev-btn .prev-ico:before, .fly-video-C .fly-video-control-C .fly-control .fly-video-btns .fly-next-btn .prev-ico:before {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              left: 0.134vw;
              top: -0.26vw;
              border-top: 0.2667vw solid transparent;
              border-right: 0.4vw solid #fff;
              border-bottom: 0.2667vw solid transparent; }
        .fly-video-C .fly-video-control-C .fly-control .fly-video-btns .fly-next-btn .prev-ico {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }
      .fly-video-C .fly-video-control-C .fly-control .fly-play-btn {
        width: 1.4vw;
        height: 1.4vw;
        border-radius: 50%;
        position: relative;
        border: 2px solid #cebabb; }
        .fly-video-C .fly-video-control-C .fly-control .fly-play-btn:after, .fly-video-C .fly-video-control-C .fly-control .fly-play-btn:before {
          content: '';
          position: absolute;
          width: 0;
          height: .8vw;
          border: 2px solid #cebabb;
          border-top: none;
          border-bottom: none;
          top: 0.3vw;
          left: 0.45vw; }
        .fly-video-C .fly-video-control-C .fly-control .fly-play-btn:after {
          left: 0.85vw; }
        .fly-video-C .fly-video-control-C .fly-control .fly-play-btn.active:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: .2vw;
          left: 0.5vw;
          border-top: 0.52vw solid transparent;
          border-left: 0.53333vw solid #cebabb;
          border-bottom: 0.52vw solid transparent;
          border-right: none; }
        .fly-video-C .fly-video-control-C .fly-control .fly-play-btn.active:before {
          display: none; }
      .fly-video-C .fly-video-control-C .fly-control .fly-video-time {
        line-height: 2vw;
        text-align: center;
        font-size: 0.8vw; }

/*# sourceMappingURL=video.css.map */